name: Playwright Tests
on:
  schedule:
    # Run every day at 14:23 UTC
    - cron: "23 14 * * *"
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install dependencies
        run: npm ci
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Run Playwright tests
        env:
          FIRST_NAME: ${{ secrets.FIRST_NAME }}
          LAST_NAME: ${{ secrets.LAST_NAME }}
          NUMBER_OF_TICKETS: ${{ secrets.NUMBER_OF_TICKETS }}
          EMAIL: ${{ secrets.EMAIL }}
          DOB_MONTH: ${{ secrets.DOB_MONTH }}
          DOB_DAY: ${{ secrets.DOB_DAY }}
          DOB_YEAR: ${{ secrets.DOB_YEAR }}
          ZIP: ${{ secrets.ZIP }}
          COUNTRY: ${{ secrets.COUNTRY }}
        run: xvfb-run npx playwright test
      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
